.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: -99;
  flex-direction: column-reverse;
}

.picker {
  display: flex;
  gap: 10px;
  position: fixed !important;
  right: 0;
  top: -20px;
}

.toggle-toolbars {
  color: #fff;
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 100;
}
